.contenedor-principal {
    display: flex;
    margin-left: 20px;
    justify-content: flex-start; /* Centra horizontalmente */
    align-items: flex-start; /* Centra verticalmente */
    margin-top: 5px;
    border: solid;
}

.digifields{
    /* border: solid; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.digimon-buscar {
    width: 400px;
    display: flex; /* Asegúrate de que este contenedor también utiliza flex si es necesario */
    flex-direction: column; /* Si quieres que los elementos dentro estén en columnas */
    align-items: flex-start; /* Alinea los elementos hacia la izquierda */
}

.tamaño-multi {
    display: flex;
    flex-direction: row; /* Alinea los elementos en fila */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Espacia los elementos horizontalmente */
    gap: 10px; /* Espacio entre elementos */
}

.name-digi {
    display: flex;
    width: auto; /* Ajusta el ancho según el contenido */
}

.multi-digimon {
    display: flex;
    flex-grow: 1; /* Permite que el MultiSelect ocupe más espacio */
}

.digibay{
    flex: 1;
    display: flex;
    position: relative;
    justify-content: center; /* Centra horizontalmente */
    align-items: flex-start; /* Centra verticalmente */
    margin: 10px;
}

.digimon-mostrar-imagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width:  420px;
    height: auto;
    /* border: solid; */
}

.contenido{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    padding: 10px;
    /* border: solid; */
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.digimon{
    display: flex;
    position: absolute;
    transform: translate(-237%, 137%);
    z-index: 10;
    border-radius: 11px;
}

.info{
    flex: 1;
    margin: 10px;
    padding: 20px;
    /* border: solid; */
    display: flex;
    font-style: italic;
    width: auto;
    height: auto;
    text-align: center;
}

/* Móviles */
@media (max-width: 760px) {
    .contenido{
        width: auto;
        height: auto;
    }

    .digimon-mostrar-imagen{
        margin-top: 20px;
        margin-right: 30px;
    }
}

/* Tableta */
@media (min-width: 1000px) {
    .contenido{
        width: auto;
        height: auto;
    }

    .digimon-mostrar-imagen{
        margin-top: 20px;
        margin-right: 30px;
    }
}

/* Pantalla completa */
@media (min-width: 1024px) {
    .contenido{
        width: auto;
        height: auto;
    }

    .digimon-mostrar-imagen{
        margin-top: 20px;
        margin-right: 30px;
    }
}